<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alejandro Quiroz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alejandro Quiroz</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Alejandro Quiroz</ion-card-title>
      <ion-card-subtitle>Desarrollador de Software</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Actualmente me encuentro enfocado en el analisis de datos</p>
    </ion-card-content>
  </ion-card>
  <ion-label style="font-weight: 600; font-size: 1.5rem;">Experiencia Laboral</ion-label>
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Coperativa de la Policia Nacional</ion-card-title>
      <ion-card-subtitle>Seguridad de la Informacion</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>Dentro del mi rol como encargado de la seguridad de la Informacion me encargo de manejar datos sensibles, dando a los mismos una proteccion adecuada</ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Habilidades</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>MS Office</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nodejs</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>React</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Express</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>MongoDB</ion-label>
    </ion-item>

    <ion-list>
      <ion-list-header>
        <ion-label>Educación</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <h2>Desarrollo de Software</h2>
          <p>Escuela Politécnica Nacional - 2022 - Actualmente</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-card color="medium">
      <ion-card-header>
        <ion-card-title>Contacto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-icon name="location-outline"></ion-icon>
          <ion-label>Diaz de la Madrid y San Felipe, Quito, Ecuador</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label>alejoquiroz21&#64;gmail.com</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-linkedin"></ion-icon>
          <ion-label>Alejandro Quiroz</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline"></ion-icon>
          <ion-label>+593 984902313</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>
