<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Isaac León
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-img
      style="height: 40vh;"
      src="https://res.cloudinary.com/dcax5qaud/image/upload/v1729461125/pawxorc36rpqledreknt.jpg"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img>
    <ion-label style="text-align: center; font-weight: 600; font-size: 1.5rem;">Desarrollador Junior</ion-label>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil Profesional</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Habilidades en desarrollo de software y resolución de problemas.
        Apasionado por la tecnología y con un enfoque en aprender y crecer
        profesionalmente en el campo de la programación. Poseo un sólido
        conocimiento de los fundamentos de la programación y estoy motivado
        para contribuir de manera efectiva en proyectos de equipo</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Experiencia Laboral</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle style="font-weight:600; font-size: 1rem;">SOVOS</ion-card-subtitle>
      <ion-card-subtitle style="font-weight:600;">2024 - Actualmente</ion-card-subtitle>
      <p>Participo en el programa de mentoring FY25, con trabajo colaborativo y el uso de herramientas corporativas. </p>
      <br>
      <ion-card-subtitle style="font-weight:600; font-size: 1rem;">Constructora Vasconez</ion-card-subtitle>
      <ion-card-subtitle style="font-weight:600;">2024 - 2024</ion-card-subtitle>
      <p>Aplicación para gestión de comisiones, desarrollado en React, Node js, Express. Trabaje como desarollador Fullstack, desarrollando el backend y el frontend de la aplicación web.</p>
      <br>
      <ion-card-subtitle style="font-weight:600; font-size: 1rem;">Frontend Developer</ion-card-subtitle>
      <ion-card-subtitle style="font-weight:600;">2023 - Actualmente</ion-card-subtitle>
      <p>Realizo proyectos personales y educacionales, he aprendido gracias a ello.
        Proyectos como mi portafolio web, página para un restaurante de catering y otros
        proyectos en progreso.</p>
      <br>
      </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label>
      <h1>Habilidades</h1>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>React</ion-label>
    <ion-icon name="logo-react"></ion-icon>
  </ion-item>
  <ion-item>
  <ion-label>Javascript</ion-label>
    <ion-icon name="logo-javascript"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Express</ion-label>
    <ion-icon name="code-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Java</ion-label>
    <ion-icon name="cafe-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>.NET Framework</ion-label>
    <ion-icon name="planet-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>MySQL</ion-label>
    <ion-icon name="server-outline"></ion-icon>
  </ion-item>
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label style="font-weight: 600; font-size: 1rem;">Educación</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <span style="font-weight: 400;">Desarrollo de Software</span>
        <p>EPN, Quito, Ecuador</p>
        <span style="font-size: .6rem;">2022 - Actualmente (5to Semestre)</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <span style="font-weight: 400;">Responsive Web Design</span>
        <p>freeCodeCamp</p>
        <span style="font-size: .6rem;">2022</span>
      </ion-label>
    </ion-item>  
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="location-outline"></ion-icon>
        <ion-label>Av. El Ejercito, Ayora, Cayambe, Ecuador</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>isaac1leon&#64;gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-linkedin"></ion-icon>
        <ion-label>isaac-l-578652112</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>+593 969037943</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
