<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GitHub
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GitHub</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-img
      style="height: 40vh;"
      src="https://res.cloudinary.com/dfe18vgwj/image/upload/v1729882392/i4puhj6rbizwhtxliqw7.jpg"
      alt="Foto"
    ></ion-img>
    <ion-label style="text-align: center; font-weight: 600; font-size: 1.5rem;"></ion-label>
  </ion-item>
  <br />

  <ion-label style="text-align: center; font-weight: 600; font-size: 1.5rem;align-content: center">Sebastian Coronado</ion-label>

  <br />
  <div id="container">
    <ion-button onclick="window.open('https://www.youtube.com/watch?v=MwAjxKDT6Nc')">Repositorio de GitHub</ion-button>
  </div>


</ion-content>
