<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fechas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fechas</ion-title>
    </ion-toolbar>
  </ion-header>

  <form id="new-form">
    <ion-item id="new-input2">
      <ion-label position="stacked">Fecha inicial</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Seleccione una fecha" name="fechaini" [(ngModel)]="fechaini"></ion-datetime>
    </ion-item>
    <ion-item id="new-input3">
      <ion-label position="stacked">Fecha final</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Seleccione una fecha" name="fechafin" [(ngModel)]="fechafin"></ion-datetime>
    </ion-item>
  </form>

  <ion-button shape="round" id="button1" (click)="calcular()">Calcular</ion-button>
  
  <p *ngIf="dias !== null">Días de diferencia: {{ dias }}</p>
</ion-content>
